<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="APP ALKES"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activity.EditActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Create_Activity"
            android:exported="false" />
        <activity
            android:name=".Adapter.UserAdapter"
            android:exported="false" />
        <activity
            android:name=".Activity.Profil"
            android:exported="false" />
        <activity
            android:name=".Activity.act_home"
            android:exported="false" />
        <activity
            android:name=".Activity.RegiterAct"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>